{% extends 'base.html' %}

{% load static %}

{% block title %}My Cart{% endblock %}

{% block link %}<link rel="stylesheet" href="{% static 'css/cart.css' %}">{% endblock %}


<body>
    
    {% block content %}

    <main>
        <div class = "cart-dtl-container">

            {% if cart_items %}

            {% for items in cart_items %}

            <div class = "prod-container">
                <img src="{{ items.product_img.url }}" alt="{{ items.product_name }}" width = "80" height = "80">
                
                <div class = "prod-name-price">
                    <h3 class = "prod-name">{{items.product_name}}</h3>
                    <h3 class = "prod-price">BDT {{items.price}}</h3>
                </div>
            </div>

            {% endfor %}

            {% else %}

            <h4>Your cart is currently empty</h4>
            <a href = "#" class = "shop-link">Shop Now</a>

            {% endif %}

        </div>

        <div class = "cart-dtl-container price-container">
            <h3>Total</h3>

            <div class = "calc">
                <span class = "calc-line">
                    <h4>Discount:</h4>
                </span>

                <span class = "calc-line"></span>
                    <h4>Subtotal:</h4>
                    <h4>Price</h4>
                </span>
            </div>

            <div class = "checkout-sec">
                <button class = "checkout-btn">Checkout</button>
            </div>
        </div>

    </main>

    {% endblock %}
    
</body>
</html>