{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Online Clothing Brand</title>
    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    <script src="https://kit.fontawesome.com/929aba3781.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class = "menu-bar" title = "Sidebar">
            <a link = "#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class = "category-nav">
            <div class = "category-dropdown">
                <a href="#">MEN</a>
                <div class = "dropdown-content">
                    <a href = "#">T-Shirts</a>
                    <a href = "#">Shirts</a>
                    <a href = "#">Pants</a>
                    <a href = "#">Panjabi</a>
                    <a href = "#">Footwear</a>
                </div>
            </div>
            
            <div class = "category-dropdown">
                <a href="#">WOMEN</a>
                <div class = "dropdown-content">
                    <a href = "#">Saree</a>
                    <a href = "#">Kurti</a>
                    <a href = "#">Footwear</a>
                </div>
            </div>

            <div class = "category-dropdown">
                <a href = "#">KIDS</a>
                <div class = "dropdown-content">
                    <a href = "#">T-Shirt</a>
                    <a href = "#">Shirt</a>
                    <a href = "#">Pant</a>
                    <a href = "#">Panjabi</a>
                    <a href = "#">Footwar</a>
                </div>
            </div>

            <div class = "category-dropdown">
                <a href = "#">ACCESSORIES</a>
                <div class = "dropdown-content">
                    <a href = "#">Belts</a>
                    <a href = "#">Wallets</a>
                    <a href = "#">Watches</a>
                </div>
            </div>
        </div>
        
        <div class = "icons">
            <a href="#" title = "Search"><i class="fa-solid fa-magnifying-glass"></i></a>
            
            <div class = "user-icon">
                <a href="#" class = "user-icon" title = "Account"><i class="fas fa-user"></i></a>
                <div class = "dropdown-content">
                    {% if user.is_authenticated %}
                    <a href="{% url 'update_profile' %}">Update Profile</a>
                    <a href = "account/logout">Log Out</a>
                    {%else%}
                    <a href = "account/login">Log In</a>
                    <a href = "account/signup">Create an account</a>
                    {% endif %}

                    
                </div>
            </div>
            
            <a href = "#" title = "My Cart"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>
    
    <main>
        <div class = "slideshow">
            <h1>Slideshow</h1>
        </div>

        <div class = "product-header">
            <h1>Products</h1>
        </div>

        <div class = "products">
            <ul>
                <li>
                    <div><p>Men's Shirt Image</p></div>
                    <div><h3>Men's Shirt</h3></div>
                    <div><h5>Price</h5></div>
                </li>
                <li>
                    <div><p>Women's Kurti Image</p></div>
                    <div><h3>Women's Shirt</h3></div>
                    <div><h5>Price</h5></div>
                </li>
                <li>
                    <div><p>Men's Pant Image</p></div>
                    <div><h3>Men's Pant</h3></div>
                    <div><h5>Price</h5></div>
                </li>
                <li>
                    <div><p>Men's Shoes Image</p></div>
                    <div><h3>Men's Shoes</h3></div>
                    <div><h5>Price</h5></div>
                </li>
                <li>
                    <div><p>Women's Shoes Image</p></div>
                    <div><h3>Women's Shoes</h3></div>
                    <div><h5>Price</h5></div>
                </li>
                <li>
                    <div><p>Men's Tie Image</p></div>
                    <div><h3>Men's Tie</h3></div>
                    <div><h5>Price</h5></div>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <p>© All Rights Reserved | CSE471 Summer 2024 Section 4 Group 9</p>
    </footer>
</body>
</html>
