{% extends 'base.html' %}

{% load static %}

{% block title %}Purchase Completed{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

<body>

{% block iconlinks %}
<!-- Include icon links if needed, similar to cart.html -->
{% endblock %}

{% block content %}
<main>
    <div class="section">
        <div class="sec-header">
            <h1>Purchase Completed</h1>
        </div>
        <div class="cart-prod-price">
            <div class="cart-dtl-container">
                <p>Your purchase has been completed successfully.</p>
                <a href="{% url 'download_invoice_file' %}" class="checkout-btn">Download Invoice</a>
                <br>
                <a href="{% url 'index' %}" class="shop-link">Home</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}

</body>
